image: node:22

stages:
  - test

cache:
  key: npm-cache
  paths:
    - Frontend/node_modules/

test:unit:
  stage: test
  before_script:
    - cd Frontend
  script:
    - npm ci
    - npm run test:unit
  only:
    - merge_requests
